<%- include('partials/header') %>
<div class="container">
  <div class="error-page">
    <h2><%= title %></h2>
    <p><%= message %></p>
    <a href="<%= basePath %>/" class="btn btn-primary">Go to front page</a>
  </div>
</div>
<%- include('partials/footer') %>
